# =========================================================================
# CR-Culture Production Environment Configuration (Example)
# Copy this file to '.env.prod' on your production server:
# cp .env.prod.example .env.prod
# =========================================================================

# Next.js Port on the host machine (default: 3000)
PORT=3000
HOSTNAME=0.0.0.0

# Next.js production server public URL
NEXT_PUBLIC_SERVER_URL=https://cr-culture.com

# Payload CMS configuration
PAYLOAD_SECRET=d748142a8bef8d6abe10d4795f096753523d5bcb2ee8bd0b1669ff87360a84a5
DATABASE_URI=mongodb://mongo:Pot0903297444@crculture-crculturedb-tqblnr:27017/?authSource=admin&directConnection=true


# Analytics (Umami)
NEXT_PUBLIC_UMAMI_SCRIPT_URL=https://cloud.umami.is/script.js
NEXT_PUBLIC_UMAMI_WEBSITE_ID=1c0838f4-0928-489c-b74c-3bbe598f2bf7
NEXT_PUBLIC_UMAMI_SHARE_URL=https://cloud.umami.is/share/Bz6LueNjjbvdJJ69
