# =========================================================================
# CR-Culture Production Environment Configuration (Example)
# Copy this file to '.env.prod' on your production server:
# cp .env.prod.example .env.prod
# =========================================================================

# Next.js Port on the host machine (default: 3000)
PORT=3000
HOSTNAME=0.0.0.0

# Next.js production server public URL
NEXT_PUBLIC_SERVER_URL=https://cr-culture.com

# Payload CMS configuration
PAYLOAD_SECRET=<YOUR_PROD_PAYLOAD_SECRET>
# Replace <YOUR_DB_PASSWORD> with the password for your production MongoDB instance.
DATABASE_URI=mongodb://mongo:<YOUR_DB_PASSWORD>@crculture-crculturedb-tqblnr:27017/?authSource=admin&directConnection=true


# Analytics (Umami)
NEXT_PUBLIC_UMAMI_SCRIPT_URL=https://cloud.umami.is/script.js
NEXT_PUBLIC_UMAMI_WEBSITE_ID=<YOUR_UMAMI_WEBSITE_ID>
NEXT_PUBLIC_UMAMI_SHARE_URL=https://cloud.umami.is/share/<YOUR_UMAMI_SHARE_ID>
