version: '3.8'

services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - MONGODB_URI=mongodb://mongo:27017/cr-culture
      - PAYLOAD_SECRET=YOUR_SECRET_KEY
      - NEXT_PUBLIC_SERVER_URL=http://localhost:3000
    depends_on:
      - mongo
    networks:
      - cr-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - cr-network

volumes:
  mongo-data:


networks:
  cr-network:
